node_modules
.env
dist
tmp/*
!tmp/.gitkeep
# .wwebjs_auth/session/*
.wwebjs_cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
pnpm-lock.yaml
package.lock.json